wsdl/DeviceRegistryV1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="wsdl-viewer.xsl"?>

<wsdl:definitions name="DeviceRegistry"
    targetNamespace="urn:schemas-pelco-com:service:DeviceRegistry:1"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="urn:schemas-pelco-com:service:DeviceRegistry:1">

  <wsdl:documentation>
    The DeviceRegistry Service provides the following operations:
    <ul>
      <li>Get Devices from the System Manager</li>
      <li>Get Device Attributes from the System Manager</li>
      <li>Get Device Service Information from the System Manager</li>
      <li>Get Device Service Attributes from the System Manager</li>
      <li>Get System Configuration Information from the System Manager</li>
      <li>Get Devices that have a specified attribute value</li>      
    </ul>
  </wsdl:documentation>

  <!-- Types -->
  <wsdl:types>
    <xsd:schema
        targetNamespace="urn:schemas-pelco-com:service:DeviceRegistry:1"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema">

      <xsd:complexType name="ServiceInfoPage">
        <xsd:annotation>
          <xsd:documentation>
            Represents a page of results filled with service data
          </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="pageResp" nillable="true" type="tns:PageResp">
            <xsd:annotation>
              <xsd:documentation>
                Represents a response for the next page of results
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="tns:ServiceInfoItem">
            <xsd:annotation>
              <xsd:documentation>
                Represents an item containing information about a Service
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="ServiceInfoItem">
        <xsd:annotation>
          <xsd:documentation>
            Represents information about a Service
          </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="id" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                Represents a Service's unique identification
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="type" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                Represents the type of the Service
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="state" nillable="true" type="tns:State">
            <xsd:annotation>
              <xsd:documentation>
                Represents the state of the Service
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="SvcInfo">
        <xsd:annotation>
          <xsd:documentation>
            Represents information about a Service
          </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="tns:ServiceInfoItem">
            <xsd:annotation>
              <xsd:documentation>
                Represents an item containing information about a Service
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Page">
        <xsd:annotation>
          <xsd:documentation>
            Represents a page of results filled with device data
          </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="pageResp" nillable="true" type="tns:PageResp">
            <xsd:annotation>
              <xsd:documentation>
                Represents a response for the next page of results
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true">
            <xsd:annotation>
              <xsd:documentation>
                Represents an item containing device data
              </xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:complexContent mixed="false">
                <xsd:extension base="tns:Item">
                  <xsd:all />
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="Item">
        <xsd:annotation>
          <xsd:documentation>
            Represents device data
          </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="dbId" nillable="true" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation>
                Represents the item's unique database identification
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="udn" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                Represents the item's unique device name
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="type" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                Represents the type of the item
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="state" nillable="true" type="tns:State">
            <xsd:annotation>
              <xsd:documentation>
                Represents the item's state
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="attrs" nillable="true" type="tns:Attrs">
            <xsd:annotation>
              <xsd:documentation>
                Represents the item's attributes
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="svcInfo" nillable="true" type="tns:SvcInfo">
            <xsd:annotation>
              <xsd:documentation>
                Represents Service Information relative to the item
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="PageReq">
        <xsd:annotation>
          <xsd:documentation>
            Represents a request for the next page of results
          </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="queryId" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                Represents the query session's unique identification
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="next" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                Represents the next page number
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="PageResp">
        <xsd:annotation>
          <xsd:documentation>
            Represents a response for the next page of results
          </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="queryId" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                Represents the query session's unique identification
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="next" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                Represents the next page number
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="total" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                Represents the total number of results
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="url" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                Represents the location of the actual query results
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Attrs">
        <xsd:annotation>
          <xsd:documentation>
            Represents a list of AttrItems
          </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="tns:AttrItem">
            <xsd:annotation>
              <xsd:documentation>
                Represents an AttrItem data element
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="AttrItem">
        <xsd:annotation>
          <xsd:documentation>
            Represents a name value pair
          </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" name="name" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                Represents the name of the attribute.  Restricted to the following values:
                <ul>
                  <li>SYS_UpnpDevDescUrl - the url to a device's manifest description file</li>
                  <li>SYS_UpnpFriendlyName - friendly name ex. "Jim's Camera"</li>
                  <li>SYS_UpnpDeviceType - device type ex. camera</li>
                  <li>SYS_UpnpSerialNumber - device's serial number</li>
                  <li>SYS_UpnpModelNumber - device's model number ex. PT1260EX</li>
                  <li>SYS_UpnpModelDesc - description</li>
                  <li>SYS_UpnpManufacturerUrl - manufacturer's website</li>
                  <li>SYS_UpnpManufacturer - manufacturer name</li>
                  <li>SYS_UpnpModelName - model name ex. Espirit</li>
                  <li>SYS_UpnpParentDeviceUdn - parent device's unique device name</li>
                  <li>SYS_UpnpPelcoDeviceUdn - pelco device's unique device name</li>
                  <li>SYS_NvrAssoc - the url to the NVR that is associated with the device</li>
                  <li>SYS_UpnpScpdUrl - the url to a device's UPnP description file</li>
                  <li>SYS_UpnpControlUrl - not used</li>
                  <li>SYS_UpnpEventSubUrl - the url to a device's event service</li>
                </ul>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="value" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                Represents an attribute's value.  250 characters max
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="AttrQueryItem">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="str" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                Represents an attribute item
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AttrQueryStrs" block="">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:AttrQueryItem">
            <xsd:annotation>
              <xsd:documentation>
                Represents an AttrQueryItem data element
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SysCfgQuery">
        <xsd:annotation>
          <xsd:documentation>
            Represents a system attribute query item
          </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="tns:SysCfgItem">
            <xsd:annotation>
              <xsd:documentation>
                Represents a SysCfgItem data element
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SysCfgItem">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="str" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                Represents a system attribute
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PageResponse">
        <xsd:annotation>
          <xsd:documentation>
            Represents a response for the next page of results
          </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="tns:AttrItem">
            <xsd:annotation>
              <xsd:documentation>
                Represents an AttrItem data element
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:simpleType name="State">
        <xsd:annotation>
          <xsd:documentation>
            Represents the device's current state
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:int">
          <xsd:enumeration value="0">
            <xsd:annotation>
              <xsd:documentation>
                Represents device state: None
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="1">
            <xsd:annotation>
              <xsd:documentation>
                Represents device state: In Sync
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="2">
            <xsd:annotation>
              <xsd:documentation>
                Represents device state: Online
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="3">
            <xsd:annotation>
              <xsd:documentation>
                Represents device state: Offline
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="4">
            <xsd:annotation>
              <xsd:documentation>
                Represents device state: Out Of Sync
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="5">
            <xsd:annotation>
              <xsd:documentation>
                Represents device state: Invalid
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="UpnpDvcQuery">
        <xsd:annotation>
          <xsd:documentation>
            Represents a UPnP query for devices
          </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="queryFlags" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation>
                Represents the type of query that will be performed.  This can be treated as a bit field, comprised of the following:
                <ul>
                  <li>Get Databaseb Ids = 1</li>
                  <li>Get Types = 2</li>
                  <li>Get States = 4</li>
                  <li>Root Only = 8</li>
                  <li>All Attributes = 16</li>
                  <li>All Service Info = 32</li>
                  <li>Get Expire Times = 64</li>
                </ul>
                Also see the QueryFlags type
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" name="upnpStates" type="tns:UpnpStates">
            <xsd:annotation>
              <xsd:documentation>
                Represents a list of UPnP state values
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="stateDeltaSeqNum" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                Represents an attribute which stores the current revision number of a device's local device database.  This allows the device to update its list of operational devices by only retrieving relevant changes, as opposed to returning the entire device database.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="dvcTypeQueryStrs" type="tns:DvcTypeQueryStrs">
            <xsd:annotation>
              <xsd:documentation>
                Represents a DvcTypeQueryStrs data element
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="attrQueryStrs" type="tns:AttrQueryStrs">
            <xsd:annotation>
              <xsd:documentation>
                Represents an AttrQueryStrs data element
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="UpnpStates">
        <xsd:annotation>
          <xsd:documentation>
            Represents a UPnP State value
          </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="upnpState" nillable="true" type="xsd:int">
            <xsd:annotation>
              <xsd:documentation>
                Represents the UPnP State.  Possible values are limited to:
                <ul>
                  <li>None = 0</li>
                  <li>In Sync = 1</li>
                  <li>Online = 2</li>
                  <li>Offline = 3</li>
                  <li> Out Of Sync = 4</li>
                  <li>Invalid = 5</li>
                </ul>
                Also see the UpnpState type
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DvcTypeQueryStrs">
        <xsd:annotation>
          <xsd:documentation>
            Represents a container for device query strings
          </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="item" type="tns:DvcTypeItem">
            <xsd:annotation>
              <xsd:documentation>
                Represents a DvcTypeItem data element
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DvcTypeItem">
        <xsd:annotation>
          <xsd:documentation>
            Represents the type of device to search
          </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" name="str" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>
                Represents the device query string.  Only the following items are valid:
                <ul>
                  <li>urn:schemas-pelco-com:device:Alarm:1</li>
                  <li>urn:schemas-pelco-com:device:AlarmArray:1</li>
                  <li>urn:schemas-upnp-org:device:Basic:1</li>
                  <li>urn:schemas-pelco-com:device:Camera:1</li>
                  <li>urn:schemas-pelco-com:device:Decoder:1</li>
                  <li>urn:schemas-pelco-com:device:Encoder:1</li>
                  <li>urn:schemas-pelco-com:device:EventArbiter:1</li>
                  <li>urn:schemas-pelco-com:device:Gateway:1</li>
                  <li>urn:schemas-pelco-com:device:MappingUI:1</li>
                  <li>urn:schemas-pelco-com:device:MDD:1</li>
                  <li>urn:schemas-pelco-com:device:Monitor:1</li>
                  <li>urn:schemas-pelco-com:device:MDDMonitor:1</li>
                  <li>urn:schemas-pelco-com:device:NSD:1</li>
                  <li>urn:schemas-pelco-com:device:NetworkVideoRecorder:1</li>
                  <li>urn:schemas-pelco-com:device:NSM:1</li>
                  <li>urn:schemas-pelco-com:device:Pelco:1</li>
                  <li>urn:schemas-pelco-com:device:Relay:1</li>
                  <li>urn:schemas-pelco-com:device:RelayArray:1</li>
                  <li>urn:schemas-pelco-com:device:RemoteUI:1</li>
                  <li>urn:schemas-pelco-com:device:StorageExpansionBox:1</li>
                  <li>urn:schemas-pelco-com:device:SystemManagerLocatorDevice:1</li>
                  <li>urn:schemas-pelco-com:device:ScriptManager:1</li>
                  <li>urn:schemas-pelco-com:device:SystemManagerDevice:1</li>
                  <li>urn:schemas-pelco-com:device:SystemLogDevice:1</li>
                  <li>urn:schemas-pelco-com:device:Transcoder:1</li>
                  <li>urn:schemas-pelco-com:device:UniversalDeviceInput:1</li>
                  <li>urn:schemas-pelco-com:device:VirtualAlarmArray:1</li>
                </ul>
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="QueryFlags">
        <xsd:annotation>
          <xsd:documentation>
            Represents the type of query to be made
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:int">
          <xsd:enumeration value="1">
            <xsd:annotation>
              <xsd:documentation>
                Represents Flag: Get Database Ids
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="2">
            <xsd:annotation>
              <xsd:documentation>
                Represents Flag: Get Types
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="4">
            <xsd:annotation>
              <xsd:documentation>
                Represents Flag: Get States
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="8">
            <xsd:annotation>
              <xsd:documentation>
                Represents Flag: Root Only
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="16">
            <xsd:annotation>
              <xsd:documentation>
                Represents Flag: All Attributes
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="32">
            <xsd:annotation>
              <xsd:documentation>
                Represents Flag: All Service Info
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="64">
            <xsd:annotation>
              <xsd:documentation>
                Represents Flag: Get Expire Times
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="UpnpState">
        <xsd:annotation>
          <xsd:documentation>
            Represents Upnp State
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:int">
          <xsd:enumeration value="0">
            <xsd:annotation>
              <xsd:documentation>
                Represents device state: None
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="1">
            <xsd:annotation>
              <xsd:documentation>
                Represents device state: In Sync
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="2">
            <xsd:annotation>
              <xsd:documentation>
                Represents device state: Online
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="3">
            <xsd:annotation>
              <xsd:documentation>
                Represents device state: Offline
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="4">
            <xsd:annotation>
              <xsd:documentation>
                Represents device state: Out Of Sync
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="5">
            <xsd:annotation>
              <xsd:documentation>
                Represents device state: Invalid
              </xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Str">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="urn:schemas-pelco-com:device:SystemManagerDevice:1"/>
          <xsd:enumeration value="urn:schemas-pelco-com:device:SystemManagerLocatorDevice:1"/>
          <xsd:enumeration value="urn:schemas-pelco-com:device:Transcoder:1"/>
          <xsd:enumeration value="urn:schemas-pelco-com:device:Decoder:1"/>
          <xsd:enumeration value="urn:schemas-pelco-com:device:Pelco:1"/>
          <xsd:enumeration value="urn:schemas-pelco-com:device:Camera:1"/>
          <xsd:enumeration value="urn:schemas-pelco-com:device:Monitor:1"/>
          <xsd:enumeration value="urn:schemas-pelco-com:device:NetworkVideoRecorder:1"/>
          <xsd:enumeration value="urn:schemas-pelco-com:device:Alarm:1"/>
          <xsd:enumeration value="urn:schemas-pelco-com:device:AlarmArray:1"/>
          <xsd:enumeration value="urn:schemas-pelco-com:device:Relay:1"/>
          <xsd:enumeration value="urn:schemas-pelco-com:device:RelayArray:1"/>
        </xsd:restriction>
      </xsd:simpleType>

      <xsd:complexType name="HeaderType">
        <xsd:sequence>
          <xsd:element name="userID" type="xsd:int"></xsd:element>
          <xsd:element name="UCN" type="xsd:string"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="pageReqType">
        <xsd:sequence>
          <xsd:element name="dontKnow" type="xsd:string" maxOccurs="unbounded" minOccurs="0"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="upnpDvcQueryType">
        <xsd:sequence>
          <xsd:element name="upnpStates" type="tns:upnpStatesType"></xsd:element>
          <xsd:element name="attrQueryStrs" type="tns:QueryStrsType"></xsd:element>
          <xsd:element name="dvcTypeQueryStrs" type="tns:QueryStrsType"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="upnpStatesType">
        <xsd:sequence>
          <xsd:element name="upnpState" type="xsd:int" maxOccurs="1" minOccurs="0"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="renewalType">
        <xsd:sequence>
          <xsd:element name="flags" type="xsd:int"></xsd:element>
          <xsd:element name="udn" type="xsd:string"></xsd:element>
          <xsd:element name="devDescUrl" type="xsd:string"></xsd:element>
          <xsd:element name="timeout" type="xsd:int"></xsd:element>
          <xsd:element name="sysCfgQuery" type="tns:QueryStrsType"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="QueryStrsType">
        <xsd:sequence>
          <xsd:element name="item" type="tns:itemReqType" maxOccurs="unbounded" minOccurs="0"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="pageGetDevType">
        <xsd:sequence>
          <xsd:element name="item" type="tns:pageItemType"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="pageItemType">
        <xsd:sequence>
          <xsd:element name="udn" type="xsd:string"></xsd:element>
          <xsd:element name="attrs" type="tns:itemListType"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="itemListType">
        <xsd:sequence>
          <xsd:element name="item" type="tns:itemType" maxOccurs="unbounded" minOccurs="0"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="itemType">
        <xsd:sequence>
          <xsd:element name="name" type="xsd:string"></xsd:element>
          <xsd:element name="value" type="xsd:string"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="itemReqType">
        <xsd:sequence>
          <xsd:element name="str" type="xsd:string"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>

	  <xsd:element name="evHeader" type="tns:HeaderType"/>
	  
      <xsd:element name="SysCfgGet">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SysCfgGetResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="value" type="xsd:string"/>
            <xsd:element name="found" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetDeviceAttributes">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="deviceUdn" type="xsd:string"/>
            <xsd:element name="pageReq" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetDeviceAttributesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="page" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetDeviceAttributeValue">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="deviceUdn" type="xsd:string"/>
            <xsd:element name="attributeName" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetDeviceAttributeValueResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="found" type="xsd:string"/>
            <xsd:element name="attributeValue" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetDeviceServiceAttributeValue">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="deviceUdn" type="xsd:string"/>
            <xsd:element name="serviceId" type="xsd:string"/>
            <xsd:element name="attributeName" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetDeviceServiceAttributeValueResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="found" type="xsd:string"/>
            <xsd:element name="attributeValue" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetDevicesByAttrValue">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="attributeName" type="xsd:string"/>
            <xsd:element name="attributeValue" type="xsd:string"/>
            <xsd:element name="pageReq" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetDevicesByAttrValueResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="page" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetDeviceServiceInfo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="deviceUdn" type="xsd:string"/>
            <xsd:element name="svcInfoFlags" type="xsd:string"/>
            <xsd:element name="pageReq" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetDeviceServiceInfoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="page" type="tns:ServiceInfoPage"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetDevices">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="upnpDvcQuery" type="tns:UpnpDvcQuery"/>
            <xsd:element name="pageReq" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetDevicesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="stateDeltaSeqNum" type="xsd:string"/>
            <xsd:element name="page" type="tns:Page"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="GetPage">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="pageReq" type="tns:PageReq"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetPageResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="page" type="tns:Page"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

    </xsd:schema>
  </wsdl:types>

  <!-- Messages -->

  <wsdl:message name="SysCfgGet">
    <wsdl:part name="parameters" element="tns:SysCfgGet"/>
  </wsdl:message>
  <wsdl:message name="SysCfgGetResponse">
    <wsdl:part name="parameters" element="tns:SysCfgGetResponse"/>
  </wsdl:message>
  <wsdl:message name="GetDeviceAttributes">
    <wsdl:part name="parameters" element="tns:GetDeviceAttributes"/>
  </wsdl:message>
  <wsdl:message name="GetDeviceAttributesResponse">
    <wsdl:part name="parameters" element="tns:GetDeviceAttributesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetDeviceAttributeValue">
    <wsdl:part name="parameters" element="tns:GetDeviceAttributeValue"/>
  </wsdl:message>
  <wsdl:message name="GetDeviceAttributeValueResponse">
    <wsdl:part name="parameters" element="tns:GetDeviceAttributeValueResponse"/>
  </wsdl:message>
  <wsdl:message name="GetDeviceServiceAttributeValue">
    <wsdl:part name="parameters" element="tns:GetDeviceServiceAttributeValue"/>
  </wsdl:message>
  <wsdl:message name="GetDeviceServiceAttributeValueResponse">
    <wsdl:part name="parameters" element="tns:GetDeviceServiceAttributeValueResponse"/>
  </wsdl:message>  
  <wsdl:message name="GetDevicesByAttrValue">
    <wsdl:part name="parameters" element="tns:GetDevicesByAttrValue"/>
  </wsdl:message>
  <wsdl:message name="GetDevicesByAttrValueResponse">
    <wsdl:part name="parameters" element="tns:GetDevicesByAttrValueResponse"/>
  </wsdl:message>
  <wsdl:message name="GetDeviceServiceInfo">
    <wsdl:part name="parameters" element="tns:GetDeviceServiceInfo"/>
  </wsdl:message>
  <wsdl:message name="GetDeviceServiceInfoResponse">
    <wsdl:part name="parameters" element="tns:GetDeviceServiceInfoResponse"/>
  </wsdl:message>
  <wsdl:message name="GetDevices">
    <wsdl:part name="header" element="tns:evHeader" />
    <wsdl:part name="parameters" element="tns:GetDevices"/>
  </wsdl:message>
  <wsdl:message name="GetDevicesResponse">
    <wsdl:part name="parameters" element="tns:GetDevicesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetPage">
    <wsdl:part name="parameters" element="tns:GetPage"/>
  </wsdl:message>
  <wsdl:message name="GetPageResponse">
    <wsdl:part name="parameters" element="tns:GetPageResponse"/>
  </wsdl:message>

  <!-- Ports -->

  <wsdl:portType name="DeviceRegistryPortType">
    <wsdl:operation name="SysCfgGet">
      <wsdl:documentation>
        Returns a system attribute value
      </wsdl:documentation>
      <wsdl:input message="tns:SysCfgGet"/>
      <wsdl:output message="tns:SysCfgGetResponse"/>
    </wsdl:operation>
    <wsdl:operation name="GetDeviceAttributes">
      <wsdl:documentation>
        Returns all attributes for a specified device
      </wsdl:documentation>
      <wsdl:input message="tns:GetDeviceAttributes"/>
      <wsdl:output message="tns:GetDeviceAttributesResponse"/>
    </wsdl:operation>
    <wsdl:operation name="GetDeviceAttributeValue">
      <wsdl:documentation>
        Returns a specific attribute value for a specified device
      </wsdl:documentation>
      <wsdl:input message="tns:GetDeviceAttributeValue"/>
      <wsdl:output message="tns:GetDeviceAttributeValueResponse"/>
    </wsdl:operation>
    <wsdl:operation name="GetDeviceServiceAttributeValue">
      <wsdl:documentation>
        Returns a specific attribute value for a specified device and service
      </wsdl:documentation>
      <wsdl:input message="tns:GetDeviceServiceAttributeValue"/>
      <wsdl:output message="tns:GetDeviceServiceAttributeValueResponse"/>
    </wsdl:operation>
    <wsdl:operation name="GetDevicesByAttrValue">
      <wsdl:documentation>
        Returns devices that have the specified attribute value
      </wsdl:documentation>
      <wsdl:input message="tns:GetDevicesByAttrValue"/>
      <wsdl:output message="tns:GetDevicesByAttrValueResponse"/>
    </wsdl:operation>
    <wsdl:operation name="GetDeviceServiceInfo">
      <wsdl:documentation>
        Returns specific information for a specified device's service
      </wsdl:documentation>
      <wsdl:input message="tns:GetDeviceServiceInfo"/>
      <wsdl:output message="tns:GetDeviceServiceInfoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="GetDevices">
      <wsdl:documentation>
        Returns configuration data on all devices with stored information.  The GetDevices action can be a process intensive task. It is highly recommended that you properly filter out off line devices in the search results, with the UpnpDvcQuery instance. Ideally you should also only search for recently updated or added devices to further help performance.
      </wsdl:documentation>
      <wsdl:input message="tns:GetDevices"/>
      <wsdl:output message="tns:GetDevicesResponse"/>
    </wsdl:operation>
    <wsdl:operation name="GetPage">
      <wsdl:documentation>
        Returns a set of device results
      </wsdl:documentation>
      <wsdl:input message="tns:GetPage"/>
      <wsdl:output message="tns:GetPageResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <!-- Bindings -->

  <wsdl:binding name="DeviceRegistry" type="tns:DeviceRegistryPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SysCfgGet">
      <soap:operation soapAction="urn:schemas-pelco-com:service:DeviceRegistry:1#SysCfgGet"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeviceAttributes">
      <soap:operation soapAction="urn:schemas-pelco-com:service:DeviceRegistry:1#GetDeviceAttributes"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeviceAttributeValue">
      <soap:operation soapAction="urn:schemas-pelco-com:service:DeviceRegistry:1#GetDeviceAttributeValue"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeviceServiceAttributeValue">
      <soap:operation soapAction="urn:schemas-pelco-com:service:DeviceRegistry:1#GetDeviceServiceAttributeValue"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDevicesByAttrValue">
      <soap:operation soapAction="urn:schemas-pelco-com:service:DeviceRegistry:1#GetDevicesByAttrValue"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeviceServiceInfo">
      <soap:operation soapAction="urn:schemas-pelco-com:service:DeviceRegistry:1#GetDeviceServiceInfo"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDevices">
      <soap:operation soapAction="urn:schemas-pelco-com:service:DeviceRegistry:1#GetDevices"/>
      <wsdl:input>
        <soap:header
      use="literal"
      message="tns:GetDevices"
      part="header"
      encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
        <soap:body use="literal"
                   message="tns:GetDevices"
                   parts="parameters"
                   namespace="http://schemas.xmlsoap.org/soap/envelope/"
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"
                   namespace="urn:schemas-pelco-com:service:DeviceRegistry:1"
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>    
    <wsdl:operation name="GetPage">
      <soap:operation soapAction="urn:schemas-pelco-com:service:DeviceRegistry:1#GetPage"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="DeviceRegistry">
    <wsdl:port name="DeviceRegistry" binding="tns:DeviceRegistry">
      <soap:address location="http://localhost:60001/control/DeviceRegistry-1" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>