wsdl/SystemManagerLocatorV1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="wsdl-viewer.xsl"?>

<wsdl:definitions
	name="SystemManagerLocator"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="urn:schemas-pelco-com:service:SystemManagerLocator:1"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="urn:schemas-pelco-com:service:SystemManagerLocator:1">

	<wsdl:documentation>
		$Id: SystemManagerLocatorV1.wsdl 295 2014-01-15 22:49:22Z  $
	</wsdl:documentation>

	<!-- Types -->

	<wsdl:types>
		<xsd:schema
			targetNamespace="urn:schemas-pelco-com:service:SystemManagerLocator:1"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">

            <xsd:complexType name="GetLocationType">
                <xsd:sequence>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="GetLocationResponseType">
                <xsd:sequence>
                    <xsd:element name="address" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>
                                The fetched address of the system manager
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="port" type="xsd:int">
                        <xsd:annotation>
                            <xsd:documentation>
                                The fetched port number of the system manager
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="key" type="tns:KeyType"/>                                            
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="KeyType">
                <xsd:sequence>
                    <xsd:element name="nbuff" type="xsd:string"/>
                    <xsd:element name="ebuff" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="GetLocationHeaderType">
                <xsd:sequence>
                    <xsd:element name="userID" type="xsd:int"/>
                    <xsd:element name="UCN" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="evHeader" type="tns:GetLocationHeaderType" maxOccurs="1" minOccurs="0"/>            
            
			<!-- GetLocation -->
			<xsd:element name="GetLocation" type="tns:GetLocationType">
                <xsd:annotation>
                  <xsd:documentation>
                    Represents a request to get location of the system manager
                  </xsd:documentation>
                </xsd:annotation>
			</xsd:element>

            <xsd:element name="GetLocationResponse" type="tns:GetLocationResponseType" />            

		</xsd:schema>
	</wsdl:types>

	<!-- Messages -->
    <!-- GetLocation -->
    <wsdl:message name="GetLocation" >
        <wsdl:part name="header" element="tns:evHeader" />
        <wsdl:part name="parameters" element="tns:GetLocation" />
    </wsdl:message>

    <wsdl:message name="GetLocationResponse">
        <wsdl:part name="parameters" element="tns:GetLocationResponse" />
    </wsdl:message>

	<!-- Ports -->
	<wsdl:portType name="SystemManagerLocatorPortType">
    
		<wsdl:operation name="GetLocation">
          <wsdl:documentation>
            Fecthes the Address and Port number of the System Manager on the network
          </wsdl:documentation>
			<wsdl:input message="tns:GetLocation" />
			<wsdl:output message="tns:GetLocationResponse" />
		</wsdl:operation>
    
	</wsdl:portType>

	<!-- Bindings -->
	<wsdl:binding name="SystemManagerLocator" type="tns:SystemManagerLocatorPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="GetLocation">
			<soap:operation soapAction="urn:schemas-pelco-com:service:SystemManagerLocator:1#GetLocation" />            
			<wsdl:input>
                <soap:header use="literal"
                             message="tns:GetLocation"
                             part="header"
                             namespace="http://schemas.xmlsoap.org/soap/envelope/" />
                <soap:body use="literal"
                           message="tns:GetLocation"
                           parts="parameters"
                           namespace="urn:schemas-pelco-com:service:SystemManagerLocator:1" />
			</wsdl:input>
			<wsdl:output>
                <soap:body use="literal"
                           namespace="urn:schemas-pelco-com:service:SystemManagerLocator:1"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<!-- Services -->

	<wsdl:service name="SystemManagerLocator">
    <wsdl:documentation>
      This service fetches the location of the system manager on the network
    </wsdl:documentation>
		<wsdl:port binding="tns:SystemManagerLocator" name="SystemManagerLocator">
			<soap:address location="http://localhost:49152/control/SystemManagerLocator-1" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
